
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');

:root{
    --color-1: #03045e;
    --color-2: #0077b6;
    --color-3: #00b4d8;
    --color-4: #90e0ef;
    --color-5: #caf0f8;
    --font-montserrat:'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}
html{
    height: 100%;
    font-family: var(--font-montserrat)
}

body{
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    background-image: linear-gradient(to top, var(--color-1), var(--color-2));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--color-3);
}

main{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    background-color: var(--color-4);
    padding: 30px;
}

.blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
}

.endCard{
    height: 500px;
    width: 300px;
    padding: 20px;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: 2rem;

    background-color: var(--color-5);
    border-left: 2px solid var(--color-1);
    border-top: 2px solid var(--color-1);
    border-right: 4px solid var(--color-1);
    border-bottom: 4px solid var(--color-1);
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 5px 8px
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

button[type="submit"]:hover{
    scale: 1.02;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"]{
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-4);
}


.gameBoardContainer{
    display: flex;
    flex-wrap: wrap;
    height: 60vw;
    width: 60vw;
    box-shadow: rgb(50 50 93 / 25%) 0px 16px 27px -5px, rgb(0 0 0 / 30%) 10px 10px;
    border-top: 2px solid var(--color-1);
    border-right: 4px solid var(--color-1);
    border-bottom: 4px solid var(--color-1);
}

.cell{
    text-align: center;
    box-sizing: border-box;
    height: 20vw;
    width: 20vw;
    background-color: var(--color-5);
    font-size: 16vw;
    color: var(--color-3);
    border: 1px solid var(--color-1)
}

.cell[data-index="0"], .cell[data-index="3"], .cell[data-index="6"]{
    border-left: 4px solid var(--color-1)
}

.cell[data-index="0"], .cell[data-index="1"], .cell[data-index="2"]{
    border-top: 2px solid var(--color-1)
}

.cell[data-index="2"], .cell[data-index="5"], .cell[data-index="8"]{
    border-right: 2px solid var(--color-1)
}

.cell[data-index="6"], .cell[data-index="7"], .cell[data-index="8"]{
    border-bottom: 2px solid var(--color-1)
}




@media(min-width: 600px){
    .gameBoardContainer{
        height: 420px;
        width: 420px;
    }
    .cell{
        height: 140px;
        width: 140px;
        font-size: 110px
    }
}